@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (max-width:700px) {

    nav {
        width: 100vw;
        justify-content: center;
        margin: auto;
        display: flex;


    }


    ul {
        margin-left: -25px;

    }


    h1 {
        margin-top: -40px;
    }
  
   




    main>a {
        display: flex;
        width: 130px;
        height: 40px;
        font-size: 0.8em;  
        align-items: center;
        justify-content: center;  
         
           }

    .escolar {
        font-size: 0.7em;
    }


    .logo img {
        margin-top: 20px;
        margin-bottom: 20px;
    }


}