@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 100vw;
    

}

.logo img {
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 20px;

}

nav {
    
    width: 300px;
    height: 50px;
    padding: 15px;
    margin-left: 70px;        
}



nav>ul>li {
    border: 1px solid #587479;
    background-color: #92c5ce;
    color: white;
    display: inline;
    list-style: none;
    margin-left: 5px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}



li:hover {
    background-color: #A5E7F2;
    transition: 0.5s;

}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;


}

li>a:hover {
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 3px black;
}
h1{
    color: #732C02;
}

body {
    background-color: #F2BDD6;

}

main {
    background-color: #A67189;
    height: 700px;
    width: 90vw;
    margin: auto;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 3px black;
}




 h1{
    margin-left: 70px;
    padding-top: 50px;
    margin-bottom: 20px;
}

main>a {
    border: 1px solid #587479;
    margin: auto;
    text-decoration: none;
    text-align: center;
    background-color: #799FA6;
    color: white;
    font-weight: bold;
    width: 190px;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1em;


}

.duplo {
    padding: 10px;
}

.escolar {
    font-size: 0.9em;
}

main>a:hover {
    background-color: #A5E7F2;
    text-shadow: 0px 1px 5px black;
    transition: 0.5s;
}



footer {
    text-align: center;
    width: 100vw;
    height: 30px;
    background-color: #583c48;
    color: white;
    font-weight: bold;

}

footer>p {
    padding-top: 5px;
}

footer>p>a {
    color: blue;
    text-decoration: none;

}

footer>p>a:hover {

    color: white;
    font-weight: bold;
}